<div fxLayout = "row wrap" fxLayoutGap="16px grid">
    <div fxFlex="50%" fxFlex.xs = "100%">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Prediction results</mat-card-title>
              <mat-card-subtitle>Ticker: {{this.index}}</mat-card-subtitle>
            </mat-card-header>
            
            <mat-card-content>
              <p>
                The model is currently being trained according to your selection. <br>
                Our model's prediction is: <br>
                {{this.prediction}}
              </p>
            </mat-card-content>
            <mat-card-footer>
              <mat-progress-bar mode="indeterminate" *ngIf="!prediction"></mat-progress-bar>
            </mat-card-footer>
          </mat-card>
          
    </div>
    <div fxFlex="50%" fxFlex.xs = "100%">
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Graph of the prediction</mat-card-title>
              <mat-card-subtitle>Period: {{this.period}}</mat-card-subtitle>
            </mat-card-header>
            
            <mat-card-content>
              <p>
                <plotly-plot [data]="graph_data"></plotly-plot>
              </p>
            </mat-card-content>
            <mat-card-footer>
              <mat-progress-bar mode="indeterminate" *ngIf="!graph_data"></mat-progress-bar>
            </mat-card-footer>
          </mat-card>
          
    </div>
    <div fxFlex="50%" fxFlex.xs = "100%">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Call Option Chain</mat-card-title>
              <mat-card-subtitle>Expires on {{this.options_date}} </mat-card-subtitle>
            </mat-card-header>
            
            <mat-card-content>
              
                <table mat-table [dataSource]="this.calls" class="mat-elevation-z8" style="width: 100%">

                  <!-- Position Column -->
                  <ng-container matColumnDef="strike">
                    <th mat-header-cell *matHeaderCellDef> Strike </th>
                    <td mat-cell *matCellDef="let call"> {{call.strike}} </td>
                  </ng-container>

                  <ng-container matColumnDef="lastPrice">
                    <th mat-header-cell *matHeaderCellDef> Last Price</th>
                    <td mat-cell *matCellDef="let call"> {{call.lastPrice}} </td>
                  </ng-container>


                  <ng-container matColumnDef="impliedVolatility">
                    <th mat-header-cell *matHeaderCellDef> Implied Voaltility </th>
                    <td mat-cell *matCellDef="let call"> {{call.impliedVolatility}} </td>
                  </ng-container>
                
                  <ng-container matColumnDef="inTheMoney">
                    <th mat-header-cell *matHeaderCellDef> In the Money </th>
                    <td mat-cell *matCellDef="let call"> {{call.inTheMoney}} </td>
                  </ng-container>
                
                  <tr mat-header-row *matHeaderRowDef="this.table_cols"></tr>
                  <tr mat-row *matRowDef="let row; columns: this.table_cols;"></tr>
                </table>
              
            </mat-card-content>
          </mat-card>
          
    </div>
    <div fxFlex="50%" fxFlex.xs = "100%">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Put Option Chain</mat-card-title>
              <mat-card-subtitle> Expires on {{this.options_date}} </mat-card-subtitle>
            </mat-card-header>
            
            <mat-card-content>
              <table mat-table [dataSource]="this.puts" class="mat-elevation-z8" style="width: 100%">

                <!-- Position Column -->
                <ng-container matColumnDef="strike">
                  <th mat-header-cell *matHeaderCellDef> Strike </th>
                  <td mat-cell *matCellDef="let call"> {{call.strike}} </td>
                </ng-container>

                <ng-container matColumnDef="lastPrice">
                  <th mat-header-cell *matHeaderCellDef> Last Price</th>
                  <td mat-cell *matCellDef="let call"> {{call.lastPrice}} </td>
                </ng-container>


                <ng-container matColumnDef="impliedVolatility">
                  <th mat-header-cell *matHeaderCellDef> Implied Voaltility </th>
                  <td mat-cell *matCellDef="let call"> {{call.impliedVolatility}} </td>
                </ng-container>
              
                <ng-container matColumnDef="inTheMoney">
                  <th mat-header-cell *matHeaderCellDef> In the Money </th>
                  <td mat-cell *matCellDef="let call"> {{call.inTheMoney}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="this.table_cols"></tr>
                <tr mat-row *matRowDef="let row; columns: this.table_cols;"></tr>
              </table>
            </mat-card-content>
          </mat-card>
          
    </div>
</div>